<% content_for :html_id, "extr-page" %>
<% content_for :body_class, "animated fadeInDown" %>
<% content_for :top_right do %>
  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span>
    <%= link_to 'Create account', new_user_registration_path, class: 'btn btn-danger' %>
  </span>
<% end %>
<!-- MAIN CONTENT -->
<div id="content" class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
      <h1 class="txt-color-red login-header-big">SmartAdmin</h1>
      <div class="hero">

        <div class="pull-left login-desc-box-l">
          <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
          <div class="login-app-icons">
            <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
            <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
          </div>
        </div>

        <%= image_tag 'demo/iphoneview.png', class: 'pull-right display-image', alt: '', style: 'width:210px' %>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="about-heading">Not just your average template!</h5>
          <p>
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
          </p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <div class="well no-padding">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'smart-form client-form'}) do |f| %>
          <header>
            Change Password
          </header>

          <fieldset>

            <section style="margin-left: 15px;">
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>
            </section>
            
            <section>
              <label class="input"> <i class="icon-append fa fa-lock"></i>
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
              </label>
            </section>

            <section>
              <label class="input"> <i class="icon-append fa fa-lock"></i>
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>
              </label>
            </section>

          </fieldset>
          <footer>
            <input type="submit" class="btn btn-primary">
          </footer>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-lg-6 col-lg-offset-1">
    <br /><br /><br /><br />
    <div class="page-header">
      <h1 style="font-size: 34px; text-align: center;">Change your password</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal'}) do |f| %>
      <fieldset>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        
        <div class="form-group">
          <label class="col-md-2 control-label">Password </label>
          <div class="col-md-10">
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password' %>
          </div>
        </div>

         <div class="form-group">
          <label class="col-md-2 control-label">Confirm New Password </label>
          <div class="col-md-10">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirm new password' %>
          </div>
        </div>
    
        <div class="actions">
          <%= f.submit "Change my password", class: 'btn btn-primary pull-right' %>
        </div>
      </fieldset>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div> 
